<?xml version="1.0"?>
<!--
/**
 * Digit Software Solutions..
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category   Dss
 * @package    Dss_Reindex
 * @author     Extension Team
 * @copyright Copyright (c) 2024 Digit Software Solutions. ( https://digitsoftsol.com )
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Indexer\Block\Backend\Grid\ItemsUpdater"
        type="Dss\Reindex\Block\Backend\Grid\ItemsUpdater" />

    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="coreModuleRequired" xsi:type="string">
                    Dss\Reindex\Model\System\Message\CoreModuleRequired
                </item>
            </argument>
        </arguments>
    </type>
</config>
